@import 'breakpoint.scss';

$browser-context: 16; // Default

// Base fonts
$base-font: 'Nintendo Switch UI';

// Base sizes
$game-size: 20vw;

// Base colors
$joycon-blue: #00c3e3;
$joycon-red: #ff4554;
$switch-bg-color: #303030;

// Breakpoints
$mobile: (orientation landscape) and (max-width: 568px);

// Functions
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Reset
h1, h2, h3, h4 {
  font-family: $base-font;
}