@import 'breakpoint.scss';

$browser-context: 16; // Default

// Base fonts
$base: 'Nintendo Switch UI';

// JoyCon colors
$joycon-blue: #00c3e3;
$joycon-red: #ff4554;

// Breakpoints
$sm: 320px;
$tb: 1024px;
$lg: 1200px;
$xl: 1440px;

// Game boxes
$game-size: 15vw;

// Functions
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}